.top-buffer { 
    margin-top: 50px;
}

.right-buffer {
    margin-right:50px;
}

.modal {
display: block;
height: 0;
overflow: visible;
}

.btn-group {
    display: flex;
    padding: 10px 10px 10px 10px;
}

#editHistoryDialog {
    width :75%;
}