<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Change Password</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="addStock" ng-submit="changePassword()">
                <div class="form-group">
                    <label class="control-label col-md-4" for="changePassword.oldPassword">Enter your old password</label>
                    <div class="col-md-6">
                        <input type="password" id="changePassword.oldPassword" ng-model="$parent.changePassword.oldPassword" placeholder="Enter your old password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="newPassword.oldPassword">Enter new password</label>
                    <div class="col-md-6">
                        <input type="password" id="changePassword.newPassword" ng-model="$parent.changePassword.newPassword" placeholder="Enter your new password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="changePassword.retypeNewPassword">Re-enter new password</label>
                    <div class="col-md-6">
                        <input type="password" id="changePassword.retypeNewPassword" ng-model="$parent.changePassword.retypeNewPassword" placeholder="Retype your new password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div data-ng-show="$parent.changePassword.errorMessage" class="text-center text-danger">
                        <div class="alert alert-danger" role="alert">
                            <strong data-ng-bind="$parent.changePassword.errorMessage"></strong>
                        </div>
                    </div>
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-success btn-lg">Change Password</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>