<div id="myOverview">
    <table class="table">
        <tr>
            <td>Today's Profit/Loss</td>
            <td>
                <font ng-show="todayProfit > 0" color="green">{{todayProfit | customCurrency:"$"}}</font>
                <font ng-hide="todayProfit > 0" color="red">{{todayProfit | customCurrency:"$"}}</font>
            </td>
        </tr>
        <tr>
            <td>Overall Profit/Loss</td>
            <td>
                <font ng-show="overallProfit > 0" color="green">{{overallProfit | customCurrency:"$"}}</font>
                <font ng-hide="overallProfit > 0" color="red">{{overallProfit | customCurrency:"$"}}</font>
            </td>
        </tr>
        <!--<tr>
            <td>Profit/Loss Realised till date</td>
            <td>{{realisedProfit | customCurrency:"$"}}</td>
        </tr>-->
    </table>
</div>