<div id="myOverview">
    <table class="table">
        <tr>
            <td>Today's Profit/Loss</td>
            <td>{{todayProfit | customCurrency:"$"}}</td>
        </tr>
        <tr>
            <td>Overall Profit/Loss</td>
            <td>{{overallProfit | customCurrency:"$"}}</td>
        </tr>
        <!--<tr>
            <td>Profit/Loss Realised till date</td>
            <td>{{realisedProfit | customCurrency:"$"}}</td>
        </tr>-->
    </table>
    <div ng-if="errorMessage" id="errorMessageDiv" class="alert alert-error">{{errorMessage}}</div>

    <div ng-if="successMessage" id="successMessageDiv" class="alert alert-success">{{successMessage}}</div>
</div>